.hidden {
  display: none;
}

.shown {
  display: block;
}

.header-row {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-image {
  border-radius: 50%;
  height: 87px;
  width: 83px;
  margin: 10px;
}

.header-title {
  width: 100%;
}
