.hidden {
  display: none !important;
}

.shown {
  display: block;
}

.background-blur-modal {
  position: fixed;
  z-index: 4;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}

.disc-modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-row {
  display: flex;
  align-items: center;
  width: 100vw;
  z-index: 2;
}

header {
  position: sticky;
  top: 0;
}

.header-title {
  width: 100%;
}

.main-row {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: flex-end;
}

.disc-row {
  display: grid;
}

.filter-button-div {
  position: sticky;
  bottom: 6%;
  display: flex;
  justify-content: center;
}

.drop-down-row {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 86vh;
}

.reset-apply-row {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 575px) {
  .disc-bag {
    display: flex;
    justify-content: center;
  }

  .disc-row {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    margin: 10px;
  }

  .flight-pattern-image-container {
    margin-bottom: -62px;
  }

  .bag-save-button {
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .disc-row {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    margin: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .disc-row {
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    margin: 20px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .disc-row {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    margin: 20px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .disc-row {
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
    margin: 30px;
  }
}

@media screen and (min-width: 1536px) {
  .disc-row {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    margin: 35px;
  }
}

.brand-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.disc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-self: center;
}

.disc-bag-disc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-self: center;
  border: 1px solid;
}

.flight-numbers {
  margin-top: -0.5px;
}

.placeholder {
  height: 5vh;
}
