.header-row {
  background-color: #1e5128;
  font-family: Orbitron, sans-serif;
  font-size: 24px;
}

.header-image {
  border-radius: 50%;
  height: 87px;
  width: 83px;
  margin: 10px;
}

.header-title {
  text-align: center;
  margin-right: 50px;
  color: white;
}

.main-image {
  transform: translate(-21%, 55px) scale(0.9);
  height: 100vh;
  object-fit: cover;
}

.navbar {
  background-color: #1e5128;
  height: 45px;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-page {
  background-color: #d8e9a8;
  height: 100vh;
}

.home-page-button {
  background-color: #da762e;
  border: none;
  border-radius: 50px;
  width: 242px;
  height: 81px;
  font-family: Orbitron, sans-serif;
  font-size: 1.3rem;
}

.home-page-button:hover {
  cursor: pointer;
}

.home-page-button:focus {
  background-color: #b15718;
}
