.header-row {
  background-color: #1e5128;
  font-family: Orbitron, sans-serif;
  font-size: 24px;
}

.header-image {
  border-radius: 50%;
  height: 87px;
  width: 83px;
  margin: 10px;
}

.header-title {
  text-align: center;
  margin-right: 50px;
  color: white;
  letter-spacing: 0.1rem;
}

@media screen and (max-width: 575px) {
  .main-image {
    transform: translate(-21%, 55px) scale(0.9);
    height: 100vh;
  }

  .navbar {
    justify-content: space-around;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .main-image {
    transform: translate(-10%, 55px);
    height: 100vh;
  }
}

@media screen and (min-width: 768px) and (max-width: 1520px) {
  .main-image {
    transform: translate(0, 55px);
    height: 100vh;
  }
}

@media screen and (min-width: 1520px) {
  .main-image {
    transform: translate(0, 55px);
    height: 100vh;
    object-fit: fill;
    width: 100vw;
  }
}

.navbar {
  background-color: #1e5128;
  height: 45px;
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
}

@media screen and (min-width: 575px) {
  .navbar {
    justify-content: center;
  }

  i {
    margin-left: 50px;
    margin-right: 50px;
  }
}

body {
  background-color: #d8e9a8;
  height: 100%;
}

.home-page-button {
  background-color: #da762e;
  border: none;
  border-radius: 50px;
  width: 242px;
  height: 81px;
  font-family: Orbitron, sans-serif;
  font-size: 1.3rem;
}

.home-page-button:hover {
  cursor: pointer;
}

.home-page-button:focus {
  background-color: #b15718;
}

.disc {
  border: 3px solid #db5252;
  background-color: #d88585;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 5px;
}

h3 {
  font-family: Ubuntu, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  margin-bottom: -5px;
}

.disc-name,
.flight-numbers {
  font-family: Orbitron, sans-serif;
  letter-spacing: 0.15rem;
  text-align: center;
  font-size: 0.8rem;
}
